<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escaleras y obligaciones</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>

<body>
    <audio src="./Sonidos/Carnival De Brazil.mp3" id="sonido"></audio>
    <section class="inicio inicio--show" id="modal-inicio">
        <div class="inicio-banner">
            <button id="listaJugadores">Jugadores</button>
            <center id="visitas">
                <img style="border: 0px solid; display: inline;" src="https://websmultimedia.com/contador-de-visitas.php?id=3580">
            </center>
            <div class="inicio-banner-botones">
                <button id="btn-iniciar">Iniciar</button>
                <button id="btn-instrucciones">Instrucciones</button>
            </div>
        </div>
    </section>

    <section class="jugadores jugadores" id="jugadores">
        <h1 class="jugadores-titulo">Escaleras y obligaciones</h1>
        <h2 class="jugadores-subtitulo">Seleccionar número de jugadores</h2>
        <ul class="jugadores-opciones">
            <div for="1-jugador">
                <input type="radio" id="1-jugador" name="jugadores" value="1" checked class="jugadores-opciones__radio">
                <label for="1-jugador" class="jugadores-opciones__label">1 Jugador</label>
            </div>
            <div>
                <input type="radio" id="2-jugadores" name="jugadores" value="2" class="jugadores-opciones__radio">
                <label for="2-jugadores" class="jugadores-opciones__label">2 Jugadores</label>
            </div>
            <div>
                <input type="radio" id="3-jugadores" name="jugadores" value="3" class="jugadores-opciones__radio">
                <label for="3-jugadores" class="jugadores-opciones__label">3 Jugadores</label>
            </div>
            <div>
                <input type="radio" id="4-jugadores" name="jugadores" value="4" class="jugadores-opciones__radio">
                <label for="4-jugadores" class="jugadores-opciones__label">4 Jugadores</label>
            </div>
        </ul>
        <button class="jugadores-aceptar" id="jugarInicio">Jugar</button>
    </section>

    <section class="datos" id="datos">
        <h1 class="datos-titulo" id="tNumeroJugador">Jugador 1</h1>
        <form class="datos-form">
            <label for="institucion" class="datos-form__label">Institución</label>
            <input type="text" name="institucion" id="institucion" placeholder="Introduce el nombre de tu institucion" class="datos-form__input">
            <label for="grado" class="datos-form__label">Grado</label>
            <input type="text" name="grado" id="grado" placeholder="Introduce tu grado" class="datos-form__input">
            <label for="grupo" class="datos-form__label">Grupo</label>
            <input type="text" name="grupo" id="grupo" placeholder="Introduce tu grupo" class="datos-form__input">
            <label for="nombre" class="datos-form__label">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Tu nombre" class="datos-form__input" required>
        </form>
        <h2 class="datos-subtitulo">Personajes</h2>
        <div class="datos-personajes">
            <label for="chico1"><img id="iChico1" src="./Imagenes/PERSONAJES/CHICO 1/chico 1-02.png" alt="chico1" class="personajes chico1"></label>
            <label for="chica1"><img id="iChica1" src="./Imagenes/PERSONAJES/CHICO 3/chica 3 todos-09.png" alt="chica1" class="personajes chica1"></label>
            <label for="chico2"><img id="iChico2" src="./Imagenes/PERSONAJES/CHICO 2/chico 2-05.png" alt="chico2" class="personajes chico2"></label>
            <label for="chica2"><img id="iChica2" src="./Imagenes/PERSONAJES/CHICO 4/chica 4-05.png" alt="chica2" class="personajes chica2"></label>
            <input type="radio" name="rPersonajes" id="chico1" value="../Imagenes/PERSONAJES/CHICO 1/chico 1-02.png">
            <input type="radio" name="rPersonajes" id="chica1" value="../Imagenes/PERSONAJES/CHICO 3/chica 3 todos-09.png">
            <input type="radio" name="rPersonajes" id="chico2" value="../Imagenes/PERSONAJES/CHICO 2/chico 2-05.png">
            <input type="radio" name="rPersonajes" id="chica2" value="../Imagenes/PERSONAJES/CHICO 4/chica 4-05.png">
        </div>
        <button class="siguiente" id="bSiguiente">Siguiente</button>
    </section>

    <section class="fondo fondo--sho" id="fondo">
        <div class="tablero">
            <div class="player player1" id="player1"></div>
            <div class="player player2" id="player2"></div>
            <div class="player player3" id="player3"></div>
            <div class="player player4" id="player4"></div>
            <div class="escalera" id="escalera1"></div>
            <div class="escalera" id="escalera2"></div>
            <div class="escalera" id="escalera3"></div>
            <div class="escalera" id="escalera4"></div>
            <div class="escalera" id="escalera5"></div>
            <div class="serpiente" id="serpiente1"></div>
            <div class="serpiente" id="serpiente2"></div>
            <div class="serpiente" id="serpiente3"></div>
            <div class="serpiente" id="serpiente4"></div>
        </div>
        <div class="panel">
            <div class="panel-cuadro">
                <div class="turno-jugador">
                    <p id="turno-nombre"></p>
                </div>
                <section class="lanzar-dado lanzar-dado--show" id="cuadro-dado">
                    <div class="lanzar-dado__parrafo">
                        <div id="random"></div>
                    </div>
                    <div class="lanzar-dado__boton">
                        <button id="dado">Lanzar dado</button>
                    </div>
                </section>
                <section class="pregunta" id="cuadro-pregunta">
                    <div class="pregunta-pregunta">
                        <p id="pregunta"></p>
                    </div>
                    <div class="pregunta-respuesta">
                        <button class="respuesta" id="respuesta1"></button>
                        <button class="respuesta" id="respuesta2"></button>
                        <button class="respuesta" id="respuesta3"></button>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="modal-dado" id="modal-dado">
        <div class="modal-dado-contenido">
            <p id="modal-dado__jugador"></p>
            <div id="modal-dado__numero"></div>
            <button id="modal-dado__continuar">Cotinuar</button>
        </div>
    </section>

    <section class="modal-pregunta" id="modal-pregunta">
        <div class="modal-pregunta-contenido">
            <p id="modal-pregunta__jugador"></p>
            <div class="modal-pregunta__pregunta" id="modal-pregunta__numero"></div>
            <div class="modal-pregunta__respuestas">
                <div>
                    <input type="radio" id="respuesta1" name="respuesta" value="1">
                    <label for="respuesta1"></label>
                </div>
                <div>
                    <input type="radio" id="respuesta2" name="respuesta" value="2">
                    <label for="respuesta2"></label>
                </div>
                <div>
                    <input type="radio" id="respuesta3" name="respuesta" value="3">
                    <label for="respuesta3"></label>
                </div>
            </div>
            <button class="modal-pregunta__continuar">Elegir</button>
        </div>
    </section>

    <section class="modal-ganador" id="ganador">
        <div class="modal-ganador-contenido">
            <h1 id="texto-ganador">¡Felicidades Jesus! eres el ganador</h1>
            <div id="personaje-ganador"></div>
            <div id="parrafo-ganador">
                <p>
                    ¡Gracias por participar! Al final de este año, el
                    participante y la institución educativa que reúnan más jugadas ganarán un premio que será
                    entregado por el IEPC, así que puedes jugar las veces que quieras e invitar a tus compañeros y
                    compañeras de clase a participar.
                </p>
            </div>
            <button id="boton-ganador">Continuar</button>
        </div>
    </section>

    <section class="modal-pregunta-incorrecta" id="mRespuestaCorrecta">
        <div class="modal-pregunta-incorrecta__contenido">
            <h1>Te has equivocado, la respuesta correcta es:</h1>
            <p id="respuestaCorrecta">hola</p>
            <button id="continuarRespuestaCorrecta">Continuar</button>
        </div>
    </section>

    <section class="modal-instrucciones" id="mInstrucciones">
        <div class="modal-instrucciones-panel">
            <div class="modal-instrucciones-panel__titulo">
                <p>Instrucciones</p>
            </div>
            <div class="modal-instrucciones-panel__parrafo">
                <p>
                    1- Presiona el botón iniciar <br>
                    2- En esta pantalla selecciona el numero de jugadores que estarán en la partida <br>
                    3- Después de asegurarte de que el circulo azul este en el número de jugadores deseado presiona Jugar <br>
                    4- En esta pantalla llenaras los datos con tu información  <br>
                    5- Recuerda llenar correctamente los datos para poder participar por un premio <br>
                    6- Elige uno de los cuatro personajes haciendo clic sobre él. <br>
                    7- No puede haber personajes repetidos. <br>
                    8- Después de que te hayas asegurado de llenar tu información correctamente presiona siguiente. <br>
                    9- Si hay mas de un jugador la pantalla se repetirá hasta que todos los jugadores hayan puesto su información. <br>
                    10- Después de que todos los jugadores hayan llenado su información se mostrará el tablero de juego. <br>
                    11- Si estas en celular gira tu celular horizontalmente para una mejor experiencia de juego. <br>
                    12- Los personajes se mostrarán en la casilla numero uno (arriba a la izquierda). <br>
                    13- Para poder avanzar presiona el botón Lanzar dado (abajo a la derecha). <br>
                    14- Arriba del recuadro de la derecha se mostrará el turno del jugador. <br>
                    15- Después de presionar el botón Lanzar dado se mostrará un dado con el numero de casillas que el personaje avanzará. <br>
                    16- Si caemos en una escalera o una serpiente el recuadro de la derecha cambiará por uno que tiene una pregunta y tres respuestas. <br>
                    17- Si presionamos el botón con la respuesta correcta nuestro personaje subirá por la escalera o se salvará de bajar por la serpiente. <br>
                    18- Si presionamos el botón con una respuesta incorrecta nuestro personaje no subirá por la escalera o bajará por la serpiente. <br>
                    19- Para poder ganar el juego hay que llegar a la casilla 60. <br>
                    20- Si vas a volver a jugar el juego, recuerda poner tu nombre, institución, grado y grupo de la misma forma que las veces anteriores. <br>
                </p>
            </div>
            <div class="modal-instrucciones-panel__boton">
                <button id="regresarInsrucciones">Regresar</button>
            </div>
        </div>
    </section>

    <section class="mLista-jugadores" id="mListaJugadores">
        <div class="mLista-jugadores-contenido">
            <div class="mLista-jugadores-contenido__encabezado">
                <h1>Lista de jugadores</h1>
            </div>
            <div class="mLista-jugadores-contenido__cuerpo" id="cuerpoListaJugadores">
            </div>
            <div class="mLista-jugadores-contenido__cierre">
                <button id="cerrarListaJugadores">Cerrar</button>
            </div>
        </div>
    </section>

    <script src="./js/jugadores.js"></script>
    <script src="./js/codigo.js"></script>
</body>

</html>